
.img-fluid{
  transform: rotate(90deg);
}

.display-4{
  text-align: center;
}

.row{
  padding-top: 25px;
  padding-bottom: 25px;
}

.card{
  margin-top: 45px;
}

@media screen and (max-width: 980px) {




}

@media screen and (max-width: 760px) {




}

@media screen and (max-width: 640px) {




}

html{
  scroll-behavior: smooth;
}
